*{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p{
    color: white;
}

#video-background {
    /*  making the video fullscreen  */
      position: absolute;
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto;
      z-index: -100;
    }
.mascara{
    background-color: rgba(100, 100, 200, 0.5);
    z-index: 100;
}